<nav>
	<a href="/">Home</a>
	<a href="/articles">Articles</a>
	<a href="/about">About</a>
	<a href="/friends">Friends</a>
</nav>
<slot />
<footer>
The contents of this website is released to the public domain, feel free to share or reproduce in any way you feel necessary. 
</footer>
